# PROJECT PROPOSAL

### INTRODUCTION

According to a study co-authored by Simon Fraser University researchers, theft-related crimes increased in wealthier neighbourhoods, such as Kerrisdale, during the pandemic (1). They suspect that this increase is related to the decrease in theft around downtown and its surrounding neighbourhoods, which they expected as businesses closed down and employees started working from home. We will be determining whether the proportion of theft crimes in wealthier neighbourhoods, such as Kerrisdale, increased during the pandemic compared to earlier years. Our response variables would be the proportion of theft crimes in Kerrisdale during the years 2018 and 2020. The location parameter would be the difference in proportions between the two years, while the scale parameter would be the standard error of that difference.

We will be using crime data from the Vancouver Police Department as our datasets. They can be accessed here: https://geodash.vpd.ca/opendata/. Within the website, we were able to select a specific year and neighbourhood(s) to view crime data from. We selected crime data from all neighbourhoods during the years 2018 and 2020. Each tuple lists the type of crime, the date it occured (in separate year, month, day, hour, minute columns), and the location it occured. Theft-related crimes are classified as either "Theft of Vehicle", "Theft of Bicycle", "Theft from Vehicle", or "Other Theft" under the TYPE column. To find the proportions of theft crime in Kerrisdale for a specific year, we will first filter for all theft-related crimes in our dataset. Then, we will find all theft crimes in Kerrisdale by filtering for NEIGHBOURHOOD="Kerrisdale", and divide those number of theft crimes by the total number of theft crimes that happened that year in all neighbourhoods.

### PRELIMINARY RESULTS

In [2]:
#Importing the libraries
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

In [4]:
#The datasets are downloaded from https://geodash.vpd.ca/opendata/#
#crimedata_all_2018 refers to all crimes in all neighbourhoods that occured in 2018
#crimedata_all_2020 refers to all crimes in all neighbourhoods that occured in 2020
#The datasets were uploaded to github, where the raw csv can be read through a url

crimedata_all_2018 <- read_csv(url("https://raw.githubusercontent.com/Krithik1/STAT_201_PROJECT/main/crimedata_csv_AllNeighbourhoods_2018.csv"))
crimedata_all_2020 <- read_csv(url("https://raw.githubusercontent.com/Krithik1/STAT_201_PROJECT/main/crimedata_csv_AllNeighbourhoods_2020.csv"))


head(crimedata_all_2018)
head(crimedata_all_2020)

Rows: 44280 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 37516 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2018  6    16  18    0     10XX ALBERNI ST
2 Break and Enter Commercial 2018 12    12   0    0     10XX BEACH AVE
3 Break and Enter Commercial 2018  4     9   6    0     10XX BEACH AVE
4 Break and Enter Commercial 2018 10     2  18   31     10XX BEACH AVE
5 Break and Enter Commercial 2018  2    17  15    0     10XX BEACH AVE
6 Break and Enter Commercial 2018  5    16  17    0     10XX BOUNDARY RD
  NEIGHBOURHOOD             X        Y
1 West End                  491102.2 5459092
2 West End                  490228.8 5458208
3 Central Business District 490249.2 5458167
4 Central Business District 490258.4 5458155
5 Central Business District 490269.9 5458141
6 Hastings-Sunrise          498275.6 5458125

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2020 6     19   3   40     10XX ALBERNI ST
2 Break and Enter Commercial 2020 1      3   6   43     10XX ALBERNI ST
3 Break and Enter Commercial 2020 9     27  20    0     10XX ALBERNI ST
4 Break and Enter Commercial 2020 6     28   6   50     10XX ALBERNI ST
5 Break and Enter Commercial 2020 2      5   0    0     10XX BEACH AVE
6 Break and Enter Commercial 2020 2     11  13   35     10XX BEACH AVE
  NEIGHBOURHOOD X        Y
1 West End      491059.5 5459122
2 West End      491068.7 5459126
3 West End      491073.1 5459109
4 West End      491102.2 5459092
5 West End      490227.2 5458210
6 West End      490227.2 5458210

In [5]:

crimedata_all_2018 %>% group_by(TYPE) %>% summarise(n = n())
crimedata_all_2020 %>% group_by(TYPE) %>% summarise(n = n())

   TYPE                                                   n
1  Break and Enter Commercial                              2020
2  Break and Enter Residential/Other                       2390
3  Homicide                                                  15
4  Mischief                                                5719
5  Offence Against a Person                                3086
6  Other Theft                                            11253
7  Theft from Vehicle                                     14996
8  Theft of Bicycle                                        2167
9  Theft of Vehicle                                        1145
10 Vehicle Collision or Pedestrian Struck (with Fatality)    13
11 Vehicle Collision or Pedestrian Struck (with Injury)    1476

   TYPE                                                   n
1  Break and Enter Commercial                              2787
2  Break and Enter Residential/Other                       2083
3  Homicide                                                  19
4  Mischief                                                6113
5  Offence Against a Person                                3738
6  Other Theft                                             8649
7  Theft from Vehicle                                     10426
8  Theft of Bicycle                                        1987
9  Theft of Vehicle                                         853
10 Vehicle Collision or Pedestrian Struck (with Fatality)     8
11 Vehicle Collision or Pedestrian Struck (with Injury)     853

### METHODS: PLAN

### REFERENCES

(1) https://www.sfu.ca/sfunews/stories/2022/01/covid-19---the-impact-on-crime-in-vancouver--sfu-expert-availabl.html

(Study from (1)) https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8742714/