# PROJECT PROPOSAL

### INTRODUCTION

### PRELIMINARY RESULTS

In [1]:
#Importing the libraries
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)
library(gridExtra)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

In [2]:
#The datasets are downloaded from https://geodash.vpd.ca/opendata/#
#For the fairview dataset the year 2022 and neighbourhood Fairview was selected and the data was downloaded
#For the kerrisdale dataset the year 2022 and neighbourhood Kerrisdale was selected and the data was downloaded
#The datasets were uploaded to jupyter hub
crimedata_fairview_2022 <- read_csv("crimedata_csv_Fairview_2022.csv")
crimedata_kerrisdale_2022 <- read_csv("crimedata_csv_Kerrisdale_2022.csv")

head(crimedata_fairview_2022)
head(crimedata_kerrisdale_2022)

Rows: 1405 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 303 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): TYPE, HUNDRED_BLOCK, NEIGHBOURHOOD
dbl (7): YEAR, MONTH, DAY, HOUR, MINUTE, X, Y

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2022  3    13  19   29     10XX W 15TH AVE
2 Break and Enter Commercial 2022  5     9   6   21     10XX W 15TH AVE
3 Break and Enter Commercial 2022 10    28   3    3     10XX W BROADWAY AVE
4 Break and Enter Commercial 2022  5    11   5   15     10XX W BROADWAY AVE
5 Break and Enter Commercial 2022  1    11   0   18     10XX W BROADWAY AVE
6 Break and Enter Commercial 2022  2    15   5   50     12XX W 12TH AVE
  NEIGHBOURHOOD X        Y
1 Fairview      490661.7 5456122
2 Fairview      490661.7 5456122
3 Fairview      490662.8 5456754
4 Fairview      490680.1 5456744
5 Fairview      490755.7 5456742
6 Fairview      490274.4 5456452

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2022 8      5   9   53     19XX W 57TH AVE
2 Break and Enter Commercial 2022 1     26  16   59     20XX W 43RD AVE
3 Break and Enter Commercial 2022 1     29  17   30     20XX W 46TH AVE
4 Break and Enter Commercial 2022 3     10   0    0     20XX W 46TH AVE
5 Break and Enter Commercial 2022 7     15  20    0     21XX W 42ND AVE
6 Break and Enter Commercial 2022 1     18   4    0     21XX W 46TH AVE
  NEIGHBOURHOOD X        Y
1 Kerrisdale    488943.8 5451874
2 Kerrisdale    488734.6 5453341
3 Kerrisdale    488716.9 5453017
4 Kerrisdale    488716.9 5453017
5 Kerrisdale    488489.6 5453446
6 Kerrisdale    488637.8 5453019

In [3]:
crimedata_fairview_2022 %>% group_by(TYPE) %>% summarise(n = n())
crimedata_kerrisdale_2022 %>% group_by(TYPE) %>% summarise(n = n())

  TYPE                                                 n
1 Break and Enter Commercial                            99
2 Break and Enter Residential/Other                     62
3 Mischief                                             203
4 Offence Against a Person                              80
5 Other Theft                                          465
6 Theft from Vehicle                                   264
7 Theft of Bicycle                                     172
8 Theft of Vehicle                                      33
9 Vehicle Collision or Pedestrian Struck (with Injury)  27

   TYPE                                                   n
1  Break and Enter Commercial                             22
2  Break and Enter Residential/Other                      45
3  Mischief                                               34
4  Offence Against a Person                               20
5  Other Theft                                            81
6  Theft from Vehicle                                     51
7  Theft of Bicycle                                       19
8  Theft of Vehicle                                        6
9  Vehicle Collision or Pedestrian Struck (with Fatality)  1
10 Vehicle Collision or Pedestrian Struck (with Injury)   24

### METHODS: PLAN

### REFERENCES